<section class="heroe-detail animated fadeIn fast">
    <div class="heroe-detail-image">
        <span class="heroe-home">{{heroe.casa | uppercase}}</span>
        <img [src]="heroe.img" alt="">
        <a class="btn btn-back btn-block" [routerLink]="['/heroes']"><span></span>Regresar</a>
    </div>
    <div class="heroe-detail-information">
        <h2> {{heroe.nombre | uppercase }} </h2>
        <p class="bio"> {{heroe.bio}} </p>
        <p class="date"> {{heroe.aparicion | date:'y'}} </p>
        <div class="icon-container">
            <!-- <img [src]="heroe.casa== 'Marvel' ? 'assets/icons/marvelskr.png' : 'assets/icons/dc.png'" alt="image home heroe"> -->
            <img *ngIf="heroe.casa == 'DC'" src="assets/icons/dc.png" alt="">
            <img *ngIf="heroe.casa == 'Marvel'" src="assets/icons/marvelskr.png" alt="">
        </div>
    </div>
</section>