<h1 class="animated fadeIn fast">Sobre Comic Conference 2020</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere est dolorem quo soluta, reprehenderit placeat voluptas nisi eos asperiores cum? Facilis praesentium fugit velit ullam illo accusantium! Rem, suscipit architecto?Deserunt quia itaque possimus,
    autem ea libero hic laudantium voluptatibus dicta eum ab porro placeat iste tenetur perspiciatis excepturi pariatur accusantium minus fugiat, quibusdam quae! Dignissimos modi at atque minus?
</p>