<!--
    1. src="{{heroe.img}}"
    2. [src]="heroe.img" los corchetes indican que angular lo va a manejar
-->
<div class="card animated fadeIn">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title"> {{heroe.nombre}} </h5>
        <p class="card-text"> {{heroe.bio}} </p>
        <p class="card-text"><small class="text-muted"> {{heroe.aparicion}} </small></p>
        <button type="button" class="btn btn-outline-danger btn-block" (click)="navigateHero()">Ver más...</button>
        <!-- <a [routerLink]="['/heroe-detail', i]" class="btn btn-outline-danger btn-block">Ver más...</a> -->
    </div>
</div>